* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}

body {
  background-color: #18191a;
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #18191a;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1.5vw 3vw;
  width: 90%;
  max-width: 550px;
  border-radius: 10px;
  box-shadow: 15px 10px 3px 0 #3a3b3c;
} */

form h3 {
  margin-top: 15px;
  color: #555;
  font-weight: 400;
  margin-bottom: 5px;
}

form .rules {
  font-size: 14px;
}

/* form input,
form textarea {
  border: 0;
  border-radius: 6px;
  margin: 10px 0;
  padding: 12px;
  outline: none;
  border: 2px solid #ccc;
  font-size: 16px;
} */
form {
  position: relative;
  max-width: 530px;
  width: 90%;
  padding: 20px 40px;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 15px 10px 3px 0 #3a3b3c;
}

form .input-box {
  position: relative;
  height: 50px;
  margin: 20px 0;
}

.input-box input {
  font-size: 16px;
  position: absolute;
  height: 100%;
  width: 90%;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 0 30px 0 15px;
  transition: all 0.2s linear;
}
input,
textarea :is(:focus, :valid) {
  border-color: #4070f4;
}
.input-box :is(label) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  transition: all 0.2s ease;
}

.input-box label {
  top: 23px;
  left: 15px;
  pointer-events: none;
  font-size: 16px;
  font-weight: 400;
}
input:is(:focus, :valid) ~ label {
  color: #4070f4;
  top: 0px;
  font-size: 14px;
  font-weight: 500px;
  background-color: #fff;
}

form button {
  display: flex;
  justify-content: center;
  padding: 13px;
  background-color: #3a3b3c;
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 120px;
  margin: 40px auto 0;
  border-radius: 6px;
  transition: all 0.2s ease;
}
form button:hover {
  opacity: 0.8;
  transform: translateY(-5px);
}

form .icons {
  display: flex;
  justify-content: space-evenly;
  margin: 35px 0 20px;
}

form .icons i {
  font-size: 2.3em;
  cursor: pointer;
  transition: all 0.2s ease;
}
form .icons i:hover {
  transform: scale(1.2);
  opacity: 0.8;
  transform: translateY(-10px);
}

form .info {
  display: none;
  background-color: #20c997;
  border-radius: 6px;
  justify-content: space-between;
  padding: 10px;
  opacity: 0.8;
}
form .info p {
  padding-top: 3px;
  font-size: 0.9em;
  font-weight: 300;
  opacity: 1;
}
form .info i {
  font-size: 28px;
  cursor: pointer;
  opacity: 0.5;
}
form .info i:hover {
  opacity: 1;
}

footer {
  width: 100%;
  text-align: center;
  padding: 40px 0 0px;
  margin-top: 20vh;
  background-color: #3a3b3c;
}
footer h4 {
  margin-bottom: 0;
  margin-top: 25px;
  font-size: 2.2em;
  color: #ccc;
  font-weight: 300;
  font-family: "Nunito";
}
footer .footer-content {
  padding-top: 25px;
  font-size: 1.1em;
  color: #ccc;
  font-family: "Nunito";
}
footer .made {
  margin-bottom: 10px;
  font-size: 1em;
}
footer hr {
  margin: 30px auto 0;
  width: 70vw;
}
footer .footer-bottom {
  background-color: #3a3b3c;
  font-family: "Nunito";
  padding: 40px;
  font-size: 1.1em;
  color: #ccc;
}
footer .footer-info-1 {
  font-size: 0.8em;
}
footer .footer-info-2 {
  padding-top: 7px;
  font-size: 0.9em;
}
footer .footer-bottom i {
  position: relative;
  top: 3px;
  font-size: 1em;
}
